<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>#{msgs.title}</title>
        <h:outputStylesheet library="css" name="main.css"/>

    </h:head>
    <h:body>
        <f:facet name="last">
            <h:outputStylesheet library="css" name="main.css"/>
        </f:facet>
        <p:messages id="messages" showDetail="false" autoUpdate="true" style="position: absolute; top:1em; left: 40%;"/>
        <header>
            <h1><span>Vinyl</span>SOULS</h1>
            
            <h:form styleClass="login">        
                <div class="button"> 
                    <h:commandButton id="addRecord" value="#{msgs.addrecord}" action="#{albumBean.clearBean()}" 
                                     styleClass="button"/>
                </div>
                <div class="button"> 
                    <h:commandButton id="logbutton" value="#{msgs.logout}" action="#{loginController.logOut()}" 
                                     styleClass="button"/>
                </div>
                <!--<p:growl id="growl" showDetail="true"/>-->
            </h:form>


        </header>
        <article>
            <section id="album">
                <div class="image">
                    <h:form enctype="multipart/form-data" styleClass="uploadButton">
                        <h:inputFile value="#{fileUploadBean.image}"/>
                        <h:commandButton value="#{msgs.changePoster}" action="#{fileUploadBean.upload()}"/>
                    </h:form>
                    <p:graphicImage id="poster" url="/resources/posters/#{albumBean.entry}.jpg" cache="false">
                       
                    </p:graphicImage>
                </div>
                <h:form id="discInfo" styleClass="discInfo">
                    <h:panelGrid columns="2" style="width:100%">
                        <h:outputLabel value="Album :"/> 
                        <p:inputText styleClass="field" id="albumName" value="#{albumBean.album_name}" required="false" 
                                     placeholder="#{listManager.selectedAlbum.album_name}">
                            <f:validateLength maximum="25"/>
                        </p:inputText>

                        <h:outputLabel value="Artist: "/>
                        <p:inputText styleClass="field" id="artist" value="#{albumBean.artist_group}" required="false" 
                                     placeholder="#{listManager.selectedAlbum.artist_group}">
                            <f:validateLength maximum="25"/>
                        </p:inputText>

                        <h:outputLabel value="YEAR: "/>
                        <p:inputText styleClass="field" id="year" value="#{albumBean.pressing_year}" required="false" 
                                     placeholder="#{listManager.selectedAlbum.pressing_year}">
                            <f:validateLength maximum="4"/>
                        </p:inputText>

                        <h:outputLabel value="UPC: "/>
                        <p:inputText styleClass="field" id="upc" value="#{albumBean.upc_code}" required="false" 
                                     placeholder="#{listManager.selectedAlbum.upc_code}">
                            <f:validateLength maximum="25"/>
                        </p:inputText>

                        <h:outputLabel value="Condition: "/>
                        <p:inputText styleClass="field" id="cond" value="#{albumBean.condition_state}" required="false" 
                                     placeholder="#{listManager.selectedAlbum.condition_state}">
                            <f:validateLength maximum="4"/>
                        </p:inputText>
                    </h:panelGrid>
                    <div class="label">
                        <h:outputLabel value="NOTES: "/>
                        <p:inputText styleClass="fieldNotes" id="notes" value="#{albumBean.notes}" required="false" 
                                     placeholder="#{listManager.selectedAlbum.notes}">
                            <f:validateLength maximum="400"/>
                        </p:inputText>
                    </div>
                    <div class="buttonArea">
                        <p:commandButton value="#{msgs.update}" action="#{listManager.updateAlbum()}" styleClass="resetButton"/>
                        <p:commandButton value="#{msgs.getBrendan}" action="#{listManager.getFromBrendan()}" styleClass="resetButton" immediate="true"/>
                        <p:commandButton value="back" action="myPage" styleClass="resetButton" immediate="true"/>
                    </div>

                </h:form>
            </section>

            <section id="side">
                <h:form styleClass="search">
                    <p:inputText styleClass="field" id="search" value="#{listManager.upcName}" required="false" label="search"
                                 placeholder="SEARCH BY UPC / ALBUM NAME / ARTIST">

                    </p:inputText>
                    
                    <h:commandButton value="search" action="#{listManager.getAlbumListByUpc()}" styleClass="searchButton"/>
                </h:form>
                <h:form styleClass="list">
                    <div id="scrollbox" >
                        <h:form id="content" styleClass="content" >
                            <h:dataTable value="#{listManager.albumList}" var="album" style="width:100%;">
                                <h:column>
                                    <p:commandButton value="( #{album.upc_code} ) --  #{album.artist_group}  --  \'#{album.album_name}\'" action="#{listManager.getAlbumInfo({0})}"  styleClass="listButton">
                                        <f:param name="entry" value="#{album.entry}" />

                                    </p:commandButton> 
                                </h:column>
                            </h:dataTable>
                            <div class="buttonArea">
                                <p:commandButton value="#{msgs.activeAlbums} (#{albumClient.countActive(userBean.idToString())})" action="#{listManager.getAlbumsByUserId(true)}" styleClass="resetButton"/>
                                <p:commandButton value="#{msgs.inactiveAlbums} (#{albumClient.countInactive(userBean.idToString())})" action="#{listManager.getAlbumsByUserId(false)}" styleClass="resetButton"/>
                                <p:commandButton value="#{msgs.all}" action="#{listManager.resetList()}" styleClass="resetButton"/>
                            </div>
                        </h:form>
                    </div>

                </h:form>
            </section>
        </article>


    </h:body>

</html>
